$pink-10: #eee3e7;
$pink-20: #ead5dc;
$pink-30:  #eec9d2;
$pink-40: #f4b6c2;
$pink-50: #f6abb6;

$gray-10: #eeeeee;
$gray-20: #dddddd;
$gray-30: #cccccc;
$gray-40: #bbbbbb;
$gray-50: #aaaaaa;


$orange: #f17544;
