@import "colors.scss";


.bg-gray-10 {
    background-color: $gray-10;
}

.bg-gray-20 {
    background-color: $gray-20;
}

.heading--1 {
    font-size: 42px;
}

.display-01 {
    font-size: 64px;
    font-weight: 600;
}

.link {
    font-weight: 400;
}