$sm: "640px";

$md: "768px";

$lg: "1024px";

$xl: "1280px";

$xxl: "1536px";

$sm-minus-one: $sm - 1;
$md-minus-one: $md - 1;
$lg-minus-one: $lg - 1;
$xl-minus-one: $xl - 1;
$xxl-minus-one: $xxl - 1;
